{% extends "layout.html" %}
{% block body %}

<div class="content">
  <h1>Schedule MW</h1>
  <br>
    <h2>Menu</h2>
    <table>
      <tr>
        <td><input type="submit" name="button" value="Create_MW" onclick="create_mw()" ></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" value="Query_MW" onclick="query_mw()"></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" value="Start_MW" ></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" value="End_MW" ></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" value="Email_Alarms" ></td>
      </tr>
    </table>
  
  <div class="console">
    <div id="title">
      <h2>Query_MW</h2>
    </div>

<form action="{{ url_for('query_mw') }}" method=post>
  {% for p in param %}
  <input type="text" name="sheetId" value="{{p.sheetId}}" hidden="True">
  {% endfor %}

<table style="display: table;" id="query">
  <tr>
    <td>Select the ACT ID
    </td>
    <td>
      <select name="actId">
        <dd><option value="--">--</option>
          {% for act in acti %}
          <dd><option value="{{act.actId}}">{{act.actId}}-{{act.Name}}</option>
          {% endfor %}
        </select>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td><input type="submit" name="button" value="Query_MW">
    </td>
  </tr>
</table>
</form>
  </div>
</div>
{% endblock %}
