<!doctype html>

<title>MW Manager</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="header">
  <ul>
    <li><a href="{{url_for('index')}}"><img height="75" width="75"  src="{{ url_for('static',filename='cisco-logo.gif')}}"></a></li>
    {% if session.role == 'PM' or session.role ==  'Admin' %}
    <li><a href ="{{url_for('schedule_home')}}">MW Management</a></li>
    {% endif %}
    {% if session.role == 'NCE' or session.role ==  'Admin' %}
    <li><a href ="">MW Implement</a></li>
    <li><a href ="">MW Verification</a></li>
    {% endif %}
    {% if session.role ==  'Admin' %}
    <li><a href ="{{url_for('admin')}}">Admin</a></li>
    {% endif %}
    {% if session.logged_in %}
    <li><a href ="{{url_for('account')}}">Account</a></li>
    <li><a href ="{{url_for('logout')}}">Logout</a></li>
    {% else %}
    <li><a href ="{{url_for('login')}}">Login</a></li>
    {% endif %}
  </ul>
<h1></h1>
</div>
<br>

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}


{% block body %}
<div class="content">
  <h1>Login</h1>
  <br>
    <form action="{{url_for('login')}}" method="POST">
    <table>
      <tr>
        <td><input class ="inputs" type="text" name="Email_Address" placeholder="Email_Address"></td>
      </tr>
      <tr>
        <td><input class ="inputs" type="password" name="Password" placeholder="Password"></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" value="Login"></td>
      </tr>
    </table>
  </form>

</div>
{% endblock %}
